$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

$primary: hsl(176, 96%, 69%);
$primary-dark: hsl(177, 40%, 45%);
$primary-light: hsl(177, 40%, 52%);
$primary-superdark: hsl(177, 40%, 32%);
$secondary: hsl(0, 0%, 95%);
$bg: hsl(228, 19%, 5%);
$bg-light: hsl(213, 24%, 16%);

$navbar-height: 70px;