$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

$theme-map-dark: (
    --primary: #6163FF,
    --primary-light: #6163FF,
    --primary-superdark: #6163FF,
    --primary-dark: #5658DD,
    --secondary: hsl(0, 0%, 95%),
    --bg:#303030,
    --bg-light: #424242,
);

$theme-map-light: (
    --primary: #6163FF,
    --primary-light: #6163FF,
    --primary-superdark: #6163FF,
    --primary-dark: #5658DD,
    --secondary: hsl(172, 65%, 5%),
    --bg: hsl(0, 0%, 85%),
    --bg-light: hsl(0, 0%, 90%),
);

@mixin spread-map($map: ()) {
    @each $key, $value in $map {
        #{$key}: $value;
    }
}
