@import "../../styles/variables.scss";

div.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-light);
    width: 60px;
    height: 100vh;
    box-shadow: 0 0 10px var(--bg);
    z-index: 3;

    .first {
        margin-bottom: 20px;
    }

    > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .click {
        cursor: pointer;
    }

    a {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s;
        position: relative;

        i {
            text-align: center;
            font-size: 30px;
            color: var(--secondary);
        }


        &:hover[aria-label] {
            background-color: var(--primary);
            &::after {
                content: attr(aria-label);
                display: flex;
                position: absolute;
                padding: 10px;
                background-color: var(--bg);
                color: var(--secondary);
                border-radius: 8px;
                right: -145%;
                z-index: 10;
            }
        }


    }
}
